<launch>

  <arg name = "have_oryx_arm"         default="true"/> 
  <arg name = "hard_kinect"           default="false"/> <!-- Kinect Attached to the base?-->

  <arg if = "$(arg hard_kinect)"           name = "have_boom"             default="false"/> 
  <arg unless = "$(arg hard_kinect)"         name = "have_boom"             default="true"/> 
   
  <arg name = "kinect_screw" default = "6" />  

  <machine name="walrus" address="192.168.1.1" env-loader="/opt/ros/indigo/env.sh"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find walrus_description)/robots/walrus.urdf.xacro' robot_ns:=/ tf_prefix:=walrus/ robot_name:=walrus have_boom:=$(arg have_boom) have_oryx_arm:=$(arg have_oryx_arm) hard_kinect:=$(arg hard_kinect) kinect_screw:=6"/>
</launch>
