<launch>
  <arg name="ns" default="rtabmap" />
 <!-- Base -->
  <arg name="base_tf" default="walrus" />
  <arg name="base" default="base_epos"/>
  <arg name="ctrl" default="drive_controller" />

 <!-- Sensor -->
  <arg name="img_mode" default="sd"/>
  <arg name="payload" default="boom"/>
  <arg name="device" default="kinect"/>

  <group ns="$(arg ns)">
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
  	  <!--Base-->
          <param name="frame_id" type="string" value="($arg base_tf)/base_link"/>

          <param name="subscribe_depth" type="bool" value="true"/>

          <remap from="/$(arg base_tf)/$(arg base_tf)/odom" to="/base_link/odom"/>
  	  <!--Sensor-->
          <remap from="rgb/image" to="/kinect2/qhd/image_color_rect"/>
          <remap from="depth/image" to="/camera/depth_registered/image_raw"/>
          <remap from="rgb/camera_info" to="/kinect2/sd/camera_info"/>

          <param name="queue_size" type="int" value="10"/>

          <!-- RTAB-Map's parameters -->
          <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
          <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
          <param name="Rtabmap/TimeThr" type="string" value="700"/>
          <param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
    </node>
  </group>
</launch>
