  <!-- Kinect -->
<!-- configured bringup file for kinect-->
<launch>
  <arg name="img_mode" default="qhd"/>
  <arg name="payload" default="boom"/>
  <arg name="device" default="kinect"/>
  <!--for Interfacing with web server and rtabmap together-->
  <!--First two arg's are obsolate at the moments-->

  <include ns="$(arg payload)" file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" >
    <arg name="base_name" value="$(arg device)"/>
  </include>

</launch>
