<launch>

  
  <!-- Mode selectors-->
  <arg name="remote_viz" 	default="false" /> <!-- Map: local	Viz: remote #MapData is sent-->

  
  <!-- Sensor -->
  <!-- Which image resolution to process in rtabmap: sd, qhd, hd -->
  <arg name="resolution" 		default="qhd" />
  <arg name="payload" 			default="boom"/>  <!-- also ns of throttled messages-->
  <arg name="device" 			default="kinect"/>
  
  
  
  
  <!-- RGB-D topics -->
  <!--# This is where correct camera topics are resolved ##############################-->
  
 
  	<!--unless="$(arg remote_viz)" -->	
  	<arg unless="$(arg remote_viz)" name="rgb_topic" 		default="/$(arg payload)/$(arg device)/$(arg resolution)/image_color_rect"/>
  	<arg unless="$(arg remote_viz)" name="depth_topic" 		default="/$(arg payload)/$(arg device)/$(arg resolution)/image_depth_rect"/>
  	<arg unless="$(arg remote_viz)" name="camera_info_topic" default="/$(arg payload)/$(arg device)/$(arg resolution)/camera_info"/>
  
	<!--No  Compress -->
  	<arg unless="$(arg remote_viz)" name="compressed"		default="false"/>



	<!--if="$(arg remote_viz)" -->	
 	<arg if="$(arg remote_viz)" name="rgb_topic" 		value="/$(arg payload)/throttled/image"/>
 	<arg if="$(arg remote_viz)" name="depth_topic" 		value="/$(arg payload)/throttled/image_depth"/>
  	<arg if="$(arg remote_viz)" name="camera_info_topic" value="/$(arg payload)/throttled/camera_info"/>
  
	<!-- Compress -->
  	<arg if="$(arg remote_viz)" name="compressed"		value="true"/>


 
  <!--# Some config ##################################################################-->
  
  <!-- Common types: compressed, theora (see "rosrun image_transport list_transports") -->
  <arg name="compress_method" 	default="compressed"/>   
  
  <!-- Choose visualization (For local mapping)	 -->
  <arg if="$(arg remote_viz)" 		name="rviz"			value="false" />
  <arg unless="$(arg remote_viz)" 	name="rviz"			value="true" />
  
  <!-- Corresponding config file -->
  <arg name="rviz_cfg"          default="-d $(find walrus_bringup)/rviz/local_viz.rviz" /> <!-- Set a new .rviz file that includes robot model-->
  
  
  <!--################################################################################-->
  <include file="$(find walrus_bringup)/launch/includes/rtabmap/rtabmap.launch.xml">

  	<arg name="rgb_topic" 			value="$(arg rgb_topic)"/>
  	<arg name="depth_topic" 		value="$(arg depth_topic)"/>
  	<arg name="camera_info_topic" 	value="$(arg camera_info_topic)"/>
	
	<arg name="rtabmap_args" 		value="--delete_db_on_start"/>
		
	<arg name="odom_topic" 			value="/base_epos/drive_controller/odom"/>
	<arg name="frame_id" 			value="walrus/base_footprint"/>
		
	<arg name="rviz" 				value="$(arg rviz)" />
 	<arg name="rtabmapviz" 			value="false" /> 
 		
 	<arg name="rviz_cfg"            value="$(arg rviz_cfg)" />
 	

 	<arg name="rgb_image_transport" value="$(arg compress_method)"/>
 	
	</include>
</launch>
