<launch>
  <arg name="ns" default="rtabmap" />
 <!-- Base -->
  <arg name="base_tf" default="walrus" /> <!-- obsolate-->
  <arg name="base" default="base_epos"/>  <!-- obsolate-->
  <arg name="ctrl" default="drive_controller" /> <!-- obsolate-->

 <!-- Sensor -->
  <arg name="img_mode" default="sd"/>
  <arg name="payload" default="boom"/>
  <arg name="device" default="kinect"/>

  <group ns="$(arg ns)">
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
          <param name="frame_id" type="string" value="walrus/base_footprint"/>

          <param name="subscribe_depth" type="bool" value="true"/>

          <remap from="odom" to="/base_epos/drive_controller/odom"/>

          <remap from="rgb/image" to="/$(arg payload)/$(arg device)/$(arg img_mode)/image_color_rect"/>
          <remap from="depth/image" to="/$(arg payload)/$(arg device)/$(arg ns)/image_depth_rect"/>
          <remap from="rgb/camera_info" to="/$(arg payload)/$(arg device)/$(arg img_mode)/camera_info"/>

          <param name="queue_size" type="int" value="10"/>

          <!-- RTAB-Map's parameters -->
          <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
          <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
          <param name="Rtabmap/TimeThr" type="string" value="700"/>
          <param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
    </node>
  </group>
</launch>
